{% extends 'base.html' %}
{% block content %}
<h1>{{ page_title }}</h1>
<!-- Karjeros galimybės -->
<p>We are currently seeking representatives for various classes within our organization. Below you can find a brief overview of the classes we need, along with their primary responsibilities and requirements. If you possess the necessary skills and are interested in representing one of these classes, please <a href="/contact">reach out to us</a>.</p>
<hr>
<br><br>
<!-- Reikalingos profesijos -->
<h3><a href="/contact">Shillen Elder</a></h3>
<p>The Shillen Elder is a powerful class that excels in support magic. They can provide valuable buffs to their allies, as well as debuff their enemies. A well-played Shillen Elder can make a huge difference in battles, helping their party to survive and deal more damage. If you enjoy playing a supportive role, the Shillen Elder might be the right choice for you.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/JZmLZmiLgjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<hr>
<br><br>
<h3><a href="/contact">Overlord</a></h3>
<p>The Overlord is a versatile class that can be played as a damage dealer or a tank, depending on their skills and equipment. They have powerful AOE skills that can deal massive damage to groups of enemies, as well as skills that can absorb damage and protect their allies. If you want to be a strong frontliner or a devastating damage dealer, the Overlord might be the right choice for you.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7RmaxcdR9rg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<hr>
<br><br>
<h3><a href="/contact">Bounty Hunter</a></h3>
<p>The Bounty Hunter is a class that excels in tracking down and capturing fugitives. They have skills that can detect hidden targets and immobilize them, as well as skills that can deal damage and stun their enemies. If you enjoy the thrill of the hunt and the satisfaction of capturing your prey, the Bounty Hunter might be the right choice for you.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5KT64sGo2g0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}