{% extends 'base.html' %}
{% block content %}
<!-- Naujienų srautas -->
<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                Those who say that being a mother is a thankless job have never played healer on MMOs
              </h2>
              <h3 class="post-subtitle">
                Waiting for another raid
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Bishop</a>
              on March 1, 2023</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                The Harder the Battle, The Sweeter the Victory!
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">xChaosMakerx</a>
              on February 27, 2023</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                It is not our enemies that defeat us, it is our fear. Do not be afraid of the monsters, make them afraid of you.
              </h2>
              <h3 class="post-subtitle">
                Get ready to destroy the enemy during the upcoming castle siege.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Evil</a>
              on February 22, 2023</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                Happy Independence day, players from Lithuania! 
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/11/Flag_of_Lithuania.svg" width="30" height="20">
             </h2>
              <h3 class="post-subtitle">
                Lets celebrate!
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">xChaosMakerx</a>
              on February 16, 2023</p>
          </div>
          <hr>
          <!-- Galimybė "peržiūrėti senesnes naujienas" -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
{% endblock %}
